.bg-light-red {
  background: tint(#E3404D, 10%) !important; }

.bg-red {
  background: #E3404D !important; }

.bg-dark-red {
  background: shade(#E3404D, 12%) !important; }

.bg-blue {
  background: #3498db !important; }

.bg-green {
  background: #2ecc71 !important; }

.bg-orange {
  background: #e67e22 !important; }

.bg-yellow {
  background: #f1c40f !important; }

.bg-black {
  background: #111822 !important; }

.bg-carbon {
  background: #222C3A !important; }

.bg-charcoal {
  background: #354050 !important; }

.bg-pebble {
  background: #79879A !important; }

.bg-gray {
  background: #A2ABB9 !important; }

.bg-cloud {
  background: #D0D5DC !important; }

.bg-fog {
  background: #F0F2F5 !important; }

.bg-snow {
  background: #F9FAFB !important; }

.bg-white {
  background: #FFFFFF !important; }

.bg-facebook {
  background: #3b5998 !important;
  border-color: #3b5998 !important; }

.bg-twitter {
  background: #00b6f1 !important;
  border-color: #00b6f1 !important; }

.bg-transparent {
  background: transparent !important; }

.text-red {
  color: #E3404D !important; }

.text-blue {
  color: #3498db !important; }

.text-green {
  color: #2ecc71 !important; }

.text-orange {
  color: #e67e22 !important; }

.text-yellow {
  color: #f1c40f !important; }

.text-black {
  color: #111822 !important; }

.text-carbon {
  color: #222C3A !important; }

.text-charcoal {
  color: #354050 !important; }

.text-pebble {
  color: #79879A !important; }

.text-gray {
  color: #A2ABB9 !important; }

.text-cloud {
  color: #D0D5DC !important; }

.text-fog {
  color: #F0F2F5 !important; }

.text-snow {
  color: #F9FAFB !important; }

.text-white {
  color: #FFFFFF !important; }

.text-success {
  color: #2ecc71 !important; }

.text-info {
  color: #1f8dd7 !important; }

.text-warning {
  color: #de8c44 !important; }

.text-danger {
  color: #dd606a !important; }

.bg-light-red {
  background: tint(#E3404D, 10%) !important; }

.bg-red {
  background: #E3404D !important; }

.bg-dark-red {
  background: shade(#E3404D, 12%) !important; }

.bg-blue {
  background: #3498db !important; }

.bg-green {
  background: #2ecc71 !important; }

.bg-orange {
  background: #e67e22 !important; }

.bg-yellow {
  background: #f1c40f !important; }

.bg-black {
  background: #111822 !important; }

.bg-carbon {
  background: #222C3A !important; }

.bg-charcoal {
  background: #354050 !important; }

.bg-pebble {
  background: #79879A !important; }

.bg-gray {
  background: #A2ABB9 !important; }

.bg-cloud {
  background: #D0D5DC !important; }

.bg-fog {
  background: #F0F2F5 !important; }

.bg-snow {
  background: #F9FAFB !important; }

.bg-white {
  background: #FFFFFF !important; }

.bg-facebook {
  background: #3b5998 !important;
  border-color: #3b5998 !important; }

.bg-twitter {
  background: #00b6f1 !important;
  border-color: #00b6f1 !important; }

.bg-transparent {
  background: transparent !important; }

.text-red {
  color: #E3404D !important; }

.text-blue {
  color: #3498db !important; }

.text-green {
  color: #2ecc71 !important; }

.text-orange {
  color: #e67e22 !important; }

.text-yellow {
  color: #f1c40f !important; }

.text-black {
  color: #111822 !important; }

.text-carbon {
  color: #222C3A !important; }

.text-charcoal {
  color: #354050 !important; }

.text-pebble {
  color: #79879A !important; }

.text-gray {
  color: #A2ABB9 !important; }

.text-cloud {
  color: #D0D5DC !important; }

.text-fog {
  color: #F0F2F5 !important; }

.text-snow {
  color: #F9FAFB !important; }

.text-white {
  color: #FFFFFF !important; }

.text-success {
  color: #2ecc71 !important; }

.text-info {
  color: #1f8dd7 !important; }

.text-warning {
  color: #de8c44 !important; }

.text-danger {
  color: #dd606a !important; }

.br-sm {
  border-radius: 3px; }

.br-md {
  border-radius: 5px; }

.br-lg {
  border-radius: 8px; }

.br-circle {
  border-radius: 1000px; }

.bs-sm {
  box-shadow: 0 1px 3px 0 rgba(17, 24, 34, 0.15); }

.bs-md {
  box-shadow: 0 2px 8px 0 rgba(17, 24, 34, 0.15); }

.bs-lg {
  box-shadow: 0 5px 16px 0 rgba(17, 24, 34, 0.15); }

.bt-0 {
  border-top: 0 !important; }

.bb-0 {
  border-bottom: 0 !important; }

.bb-2-fog {
  border-bottom: 2px solid #F0F2F5 !important; }

.bt-2-fog {
  border-top: 2px solid #F0F2F5 !important; }

.bt-2-white {
  border-top: 2px solid #FFFFFF !important; }

.b-1-fog {
  box-shadow: inset 0 0 0 1px #F0F2F5 !important; }

.br-1-fog {
  border-right: 1px solid #F0F2F5 !important; }

.bb-1-cloud {
  border-bottom: 1px solid #D0D5DC; }

.bt-1-cloud {
  border-top: 1px solid #D0D5DC !important; }

.bl-1-cloud {
  border-left: 1px solid #D0D5DC !important; }

.b-1-cloud {
  border: 1px solid #D0D5DC !important; }

.b-2-cloud {
  border: 2px solid #D0D5DC !important; }

.br-1-cloud {
  border-right: 1px solid #D0D5DC !important; }

.by-1-cloud {
  border-top: 1px solid #D0D5DC !important;
  border-bottom: 1px solid #D0D5DC !important; }

.bb-3-snow {
  border-bottom: 3px solid #F9FAFB !important; }

.bb-2-cloud {
  border-bottom: 2px solid #D0D5DC; }

.bb-3-cloud {
  border-bottom: 3px solid #F0F2F5; }

.bl-3-red {
  border-left: 3px solid #E3404D !important; }

.fs-xxs {
  font-size: 14px !important; }

.fs-xs {
  font-size: 16px !important; }

.fs-sm {
  font-size: 18px !important; }

.fs-md {
  font-size: 22px !important; }

.fs-lg {
  font-size: 32px !important; }

.fs-xl {
  font-size: 48px !important; }

.fs-xxl {
  font-size: 64px !important; }

.fw-light {
  font-weight: 400 !important; }

.fw-regular {
  font-weight: 400 !important; }

.fw-bold {
  font-weight: 600 !important; }

.fw-black {
  font-weight: 900 !important; }

.ff-sailec {
  font-family: "Sailec", "DM Sans", "Calibre", "Helvetica-Neue", Helvetica, Arial, sans-serif !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ls-1 {
  letter-spacing: 1px !important; }

.ls-2 {
  letter-spacing: 2px !important; }

.ls-3 {
  letter-spacing: 3px !important; }

.ls-5 {
  letter-spacing: 5px !important; }

.w-100 {
  width: 100% !important; }

.w-90 {
  width: 90% !important; }

.w-80 {
  width: 80% !important; }

.w-70 {
  width: 70% !important; }

.w-60 {
  width: 60% !important; }

.w-50 {
  width: 50% !important; }

.w-40 {
  width: 40% !important; }

.w-30 {
  width: 30% !important; }

.w-20 {
  width: 20% !important; }

.w-10 {
  width: 10% !important; }

.o-100 {
  opacity: 1.0 !important; }

.o-90 {
  opacity: 0.9 !important; }

.o-80 {
  opacity: 0.8 !important; }

.o-70 {
  opacity: 0.7 !important; }

.o-60 {
  opacity: 0.6 !important; }

.o-50 {
  opacity: 0.5 !important; }

.o-40 {
  opacity: 0.4 !important; }

.o-30 {
  opacity: 0.3 !important; }

.o-20 {
  opacity: 0.2 !important; }

.o-10 {
  opacity: 0.1 !important; }

.lh-200 {
  line-height: 2 !important; }

.lh-50 {
  line-height: 0.5 !important; }

.text-initial {
  text-transform: initial !important; }

.o-hidden {
  overflow: hidden; }

.ox-scroll {
  overflow-x: scroll; }

.c-pointer {
  cursor: pointer !important; }

.bg-red {
  background: #E3404D !important; }

.bg-yellow {
  background: #f1c40f !important; }

.bg-orange {
  background: #e67e22 !important; }

.bg-green {
  background: #2ecc71 !important; }

.bg-blue {
  background: #3498db !important; }

.text-red {
  color: #E3404D !important; }

.text-yellow {
  color: #f1c40f !important; }

.text-orange {
  color: #e67e22 !important; }

.text-green {
  color: #2ecc71 !important; }

.text-blue {
  color: #3498db !important; }

.bg-black {
  background: #111822 !important; }

.bg-carbon {
  background: #222C3A !important; }

.bg-charcoal {
  background: #354050 !important; }

.bg-pebble {
  background: #79879A !important; }

.bg-gray {
  background: #A2ABB9 !important; }

.bg-cloud {
  background: #D0D5DC !important; }

.bg-fog {
  background: #F0F2F5 !important; }

.bg-snow {
  background: #F9FAFB !important; }

.bg-white {
  background: #FFFFFF !important; }

.text-black {
  color: #111822 !important; }

.text-carbon {
  color: #222C3A !important; }

.text-charcoal {
  color: #354050 !important; }

.text-pebble {
  color: #79879A !important; }

.text-gray {
  color: #A2ABB9 !important; }

.text-cloud {
  color: #D0D5DC !important; }

.text-fog {
  color: #F0F2F5 !important; }

.text-snow {
  color: #F9FAFB !important; }

.text-white {
  color: #FFFFFF !important; }

.text-white-25 {
  color: rgba(255, 255, 255, 0.25); }

.text-white-50 {
  color: rgba(255, 255, 255, 0.5); }

.text-white-75 {
  color: rgba(255, 255, 255, 0.75); }

.text-black-25 {
  color: rgba(17, 24, 34, 0.25); }

.text-black-50 {
  color: rgba(17, 24, 34, 0.5); }

.text-black-75 {
  color: rgba(17, 24, 34, 0.75); }

.bg-twitter {
  background: #00b6f1 !important; }

.bg-facebook {
  background: #3b5998 !important; }

.bg-googleplus {
  background: #df4a32 !important; }

.text-twitter {
  color: #00b6f1 !important; }

.text-facebook {
  color: #3b5998 !important; }

.text-googleplus {
  color: #df4a32 !important; }

.user-select-none {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.list-style-none {
  list-style: none !important;
  padding-left: 0; }

.base {
  border-radius: 3px;
  display: inline-block;
  border: none;
  font-family: "DM Sans", "Calibre", "Helvetica-Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none !important;
  text-align: center;
  cursor: pointer; }
  .base:hover {
    box-shadow: inset 0px -3px 0px 0px rgba(17, 24, 34, 0.2); }
  .base:active, .base.active, .base:focus {
    box-shadow: inset 0px 3px 0px 0px rgba(17, 24, 34, 0.15); }

.primary {
  background: #E3404D;
  color: #FFFFFF;
  border: none;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(17, 24, 34, 0.15); }
  .primary:hover {
    background: #e65662;
    color: #FFFFFF; }
  .primary:active, .primary.active, .primary:focus {
    background: #cc3a45;
    color: #FFFFFF; }

.secondary {
  background: #F0F2F5;
  color: #111822; }
  .secondary:hover {
    background: #f5f6f8; }
  .secondary:active, .secondary.active, .secondary:focus {
    background: #e4e6e9; }

.danger {
  background: #E3404D;
  color: #FFFFFF; }
  .danger:hover {
    background: #e6535f;
    color: #FFFFFF; }
  .danger:active, .danger.active, .danger:focus {
    background: #cc3a45;
    color: #FFFFFF; }

.success {
  background: #2ecc71;
  color: #FFFFFF; }
  .success:hover {
    background: #43d17f;
    color: #FFFFFF; }
  .success:active, .success.active, .success:focus {
    background: #29b866;
    color: #FFFFFF; }

.info {
  background: #3498db;
  color: #FFFFFF; }
  .info:hover {
    background: #48a2df;
    color: #FFFFFF; }
  .info:active, .info.active, .info:focus {
    background: #2f89c5;
    color: #FFFFFF; }

.warning {
  background: #e67e22;
  color: #FFFFFF; }
  .warning:hover {
    background: #e98b38;
    color: #FFFFFF; }
  .warning:active, .warning.active, .warning:focus {
    background: #cf711f;
    color: #FFFFFF; }

.sm {
  padding: 6px 14px 6px 14px;
  font-size: 16px; }

.md {
  padding: 8px 18px 8px 18px;
  font-size: 20px; }

.lg {
  font-size: 26px;
  padding: 8px 23px 8px 23px; }
