@import "styles/colors";

.card {
  cursor: pointer;
  &:hover {
    .image {
      border: 3px solid $red;
    }
    .name {
      color: $red !important;
    }
  }
  &:active {
    .image {
      border: 5px solid darken($red, 10%);
    }
    .name {
      color: darken($red, 10%) !important;
    }
  }
}
.name {
  line-height: 1.15;
  padding-top: 5px;
}
.image {
  border: 3px solid transparent;
}
