@import "styles/colors";

.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 17%;
  float: left;
  overflow: scroll;
}

.navContainer {
  height: 100vh;
  width: 100%;
}

.submenu {
  list-style: none;
  padding: 1.5rem;
  font-size: 16px;
  padding-left: 3rem;
  background: $snow;
  border-bottom: 1px solid $cloud;
  li {
    margin-bottom: 0 !important;
    a {
      display: block;
      padding: 0.15rem 0px;
      color: $gray;
      line-height: 2;
    }
    &:before {
      display: none !important;
    }
  }
}

.navItem {
  color: $gray;
  &:hover {
    color: $pebble;
  }
  &:active, &.active {
    color: $charcoal !important;
  }
}

.active {
  color: $charcoal !important;
}
