@import 'bootstrap/scss/bootstrap';


.logo {
  margin-top: 3px;
  width: 77px;
  @include media-breakpoint-down(sm) {
    width: 60px;
  }
}
.search {
  input {
    width: 600px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
