@import "../../styles/colors";

.CategoryBar {
  z-index: 99;
  position: relative;
  display: block;
  .n-link {
    color: $charcoal;
    display: inline-block;
    float: left;
    padding: 16px;
    font-weight: 500;
    line-height: 1;
    &:first-child {
      padding-left: 0;
    }
    &:hover {
      color: $black;
      text-decoration: none;
      span {
        border-bottom: 2px solid $cloud;
      }
    }
    &:active, &.active, &:focus {
      color: $red;
      text-decoration: none;
      span {
        border-bottom: 2px solid $red;
      }
    }
  }
}
